.navigator{
    margin-top: 0%;
    margin-bottom: 3%;
}

.navigator ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navigator li{
    float: left;
}

.navigator li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigator li a:hover{
    background-color: #111;
}

.navigator li.right{
    float: right;
}